.box {
    background-image: url('../../../assets/images/mdd.jpg');
    background-position: center;
    background-size: cover;
    display: flex; 
    align-items: end;
    justify-content: center;
    width: 400px;
    padding: 20px;
    height: 450px;
}
@media (max-width: 400px) {
    .box {
        width: 350px; 
    }
}